nginx.conf
static/fonts/SourceCodePro-Black.woff2
static/fonts/SourceCodePro-BlackItalic.woff2
static/fonts/SourceCodePro-BoldItalic.woff2
static/fonts/SourceCodePro-ExtraBold.woff2
static/fonts/SourceCodePro-ExtraBoldItalic.woff2
static/fonts/SourceCodePro-ExtraLight.woff2
static/fonts/SourceCodePro-ExtraLightItalic.woff2
static/fonts/SourceCodePro-Italic.woff2
static/fonts/SourceCodePro-Light.woff2
static/fonts/SourceCodePro-LightItalic.woff2
static/fonts/SourceCodePro-Medium.woff2
static/fonts/SourceCodePro-MediumItalic.woff2
static/fonts/SourceCodePro-SemiBold.woff2
static/fonts/SourceCodePro-SemiBoldItalic.woff2
static/fonts/SourceSansPro-Black.woff2
static/fonts/SourceSansPro-BlackItalic.woff2
static/fonts/SourceSansPro-BoldItalic.woff2
static/fonts/SourceSansPro-ExtraLight.woff2
static/fonts/SourceSansPro-ExtraLightItalic.woff2
static/fonts/SourceSansPro-Italic.woff2
static/fonts/SourceSansPro-Light.woff2
static/fonts/SourceSansPro-LightItalic.woff2
static/fonts/SourceSansPro-SemiBold.woff2
static/fonts/SourceSansPro-SemiBoldItalic.woff2